sentinel_client_id=YOUR_SENTINEL_KEY
sentinel_client_secret=YOUR_SENTINEL_CLIENT_SECRET
sentinel_token_url=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
sentinel_request_url=https://sh.dataspace.copernicus.eu/api/v1/process
firm_map_key=YOUR_FIRM_MAP_KEY